<launch>
    <arg name="manager"     default="swarm_manager"/>
    <arg name="viz"     default="false"/>
    <arg name="config_file" default="$(find fishloop_vins)/../config/fisheye_ptgrey_n3/fisheye_cuda.yaml" />
    <arg name="output" default="screen" />
    <node pkg="fishloop_vins" type="fishloop_vins_node_fisheye" name="vins_estimator"  output="$(arg output)" >
        <param name="config_file" type="string" value="$(arg config_file)"/>
        <param name="fisheye_external_flatten" type="bool" value="false"/>
    </node>

    <include file="$(find fishloop_vins)/launch/vins_rviz.launch" if="$(arg viz)" />
</launch>
